In [1]:
Team_table<-read.csv("Team.csv")

In [2]:
Player_table<-read.csv("Players_1.csv")

In [3]:
head(Team_table)

  X id team_api_id team_fifa_api_id team_long_name    team_short_name max_build
1 1 1   9987         673            KRC Genk          GEN             148
2 2 2   9993         675            Beerschot AC      BAC              NA
3 3 3  10000       15005            SV Zulte-Waregem  ZUL             147
4 4 4   9994        2007            Sporting Lokeren  LOK             159
5 5 5   9984        1750            KSV Cercle Brugge CEB             145
6 6 6   8635         229            RSC Anderlecht    AND             149
  max_chance max_defence goal
1 182        205         348
2 185        210         174
3 153        200         306
4 154        200         279
5 200        195         213
6 182        190         427

In [4]:
head(Player_table)

  X player_api_id overall_rate gk_rate player_name       appear league
1 1 2625          63           153     Patryk Rachwal,18 90     1
2 2 2752          72            53     Diego Mainz       81     1
3 3 2768          75           128     Jose Dorado       71     1
4 4 2770          74           148     Ignacio Gonzalez  16     2
5 5 2790          73           144     Alberto Rey       50     1
6 6 2796          69           340     Javier Jimenez     1     1

In [7]:
names(Player_table)

[1] "X"             "player_api_id" "overall_rate"  "gk_rate"
[5] "player_name"   "appear"        "league"

In [18]:
attach(Player_table)

In [19]:
t1<-Player_table[order(-overall_rate),]

In [41]:
t2<-subset(t1,select=c(player_name,overall_rate))

In [42]:
head(t2,n=10)

     player_name       overall_rate
1891 Gianluigi Buffon  93
3796 Gregory Coupet    92
1959 Petr Cech         89
1847 Iker Casillas     91
1496 Manuel Neuer      90
2044 Julio Cesar       89
835  Sebastian Frey    87
1898 Edwin van der Sar 87
7550 David De Gea      87
1849 Pepe Reina        85

In [40]:
t1<-Player_table[order(-gk_rate),]
t2<-subset(t1,select=c(player_name,gk_rate))
head(t2,n=10)

     player_name       gk_rate
1891 Gianluigi Buffon  449
3796 Gregory Coupet    447
1959 Petr Cech         445
1847 Iker Casillas     442
1496 Manuel Neuer      440
2044 Julio Cesar       438
835  Sebastian Frey    437
1898 Edwin van der Sar 436
7550 David De Gea      429
1849 Pepe Reina        428

In [39]:
t1<-Player_table[order(-appear),]
t2<-subset(t1,select=c(player_name,appear))
head(t2,n=10)

     player_name          appear
2090 Steve Mandanda       300
4030 Stephane Ruffier     294
2483 Gorka Iraizoz Moreno 286
4335 Samir Handanovic     286
1237 Hugo Lloris          282
2118 Tim Howard           282
2111 Joe Hart             275
1178 Cedric Carrasso      268
1290 Daniel Congre        262
5450 Moussa Sissoko       260

In [38]:
t1<-Player_table[order(-league),]
t2<-subset(t1,select=c(player_name,league))
head(t2,n=10)

     player_name           league
4281 Gelson Fernandes      6
6104 Ricky van Wolfswinkel 5
7339 Filip Djuricic        5
485  Radamel Falcao        4
732  Jonathan De Guzman    4
1052 Almen Abdi            4
1304 Ibrahim Afellay       4
1335 Edson Braafheid       4
1425 Eljero Elia           4
1789 Danijel Pranjic       4

In [29]:
attach(Team_table)

The following object is masked from Player_table:

    X

In [37]:
t1<-Team_table[order(-max_build),]
t2<-subset(t1,select=c(team_long_name,max_build))
head(t2,n=10)

    team_long_name             max_build
141 Torino                     209
143 Udinese                    205
119 Fortuna Düsseldorf         198
201 Podbeskidzie Bielsko-Biala 193
198 Korona Kielce              192
156 Carpi                      190
190 Widzew Lódz                190
200 Widzew Lódz                190
61  FC Nantes                  189
128 Lazio                      188

In [36]:
t1<-Team_table[order(-max_chance),]
t2<-subset(t1,select=c(team_long_name,max_chance))
head(t2,n=10)

    team_long_name          max_chance
128 Lazio                   220
106 SV Werder Bremen        216
138 Napoli                  215
35  Manchester City         210
39  Tottenham Hotspur       210
46  Birmingham City         210
47  Wolverhampton Wanderers 210
48  Burnley                 210
50  Swansea City            210
51  Queens Park Rangers     210

In [33]:
t1<-Team_table[order(-max_defence),]
t2<-subset(t1,select=c(team_long_name,max_defence))
head(t2,n=10)

   team_long_name          max_defence
2  Beerschot AC            210
17 KVC Westerlo            210
18 Sporting Charleroi      210
29 West Bromwich Albion    210
42 Hull City               210
46 Birmingham City         210
47 Wolverhampton Wanderers 210
49 Blackpool               210
50 Swansea City            210
51 Queens Park Rangers     210

In [35]:
t1<-Team_table[order(-goal),]
t2<-subset(t1,select=c(team_long_name,goal))
head(t2,n=10)

    team_long_name    goal
259 FC Barcelona      849
257 Real Madrid CF    843
243 Celtic            695
95  FC Bayern Munich  653
166 PSV               652
162 Ajax              647
288 FC Basel          619
35  Manchester City   606
44  Chelsea           583
26  Manchester United 582