In [1]:
setup_twitter_oauth("dIhjRcszok2R3LyK0VgYSded8","IxujimHa6JJcWS8mzfC57i9GbgQSc7qst49Fvqu0aglyuykecQ","2493349752-ao5qcIqhAga9jdk2N6RJTxeRIuQXaFwRk9RUhRb","T0sYiVKJQsYRShQopO1Kvqwbr7Bx0Ky3DXs8kdRuxEUTZ")

ERROR: Error in eval(expr, envir, enclos): could not find function "setup_twitter_oauth"

In [2]:
library('twitteR')

Warning message:
"package 'twitteR' was built under R version 3.3.2"

In [3]:
setup_twitter_oauth("dIhjRcszok2R3LyK0VgYSded8","IxujimHa6JJcWS8mzfC57i9GbgQSc7qst49Fvqu0aglyuykecQ","2493349752-ao5qcIqhAga9jdk2N6RJTxeRIuQXaFwRk9RUhRb","T0sYiVKJQsYRShQopO1Kvqwbr7Bx0Ky3DXs8kdRuxEUTZ")

[1] "Using direct authentication"

In [4]:
library('dplyr')

Warning message:
"package 'dplyr' was built under R version 3.3.2"
Attaching package: 'dplyr'

The following objects are masked from 'package:twitteR':

    id, location

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [6]:
my_db2 <- src_sqlite("database.sqlite", create = T)

In [7]:
head(my_db2)

$con
<SQLiteConnection>
  Path: C:\Users\ANMISHA\database.sqlite
  Extensions: TRUE

$path
[1] "database.sqlite"

In [8]:
my_db2

src:  sqlite 3.11.1 [database.sqlite]
tbls: Country, League, Match, Player, Player_Attributes, sqlite_sequence, Team,
  Team_Attributes

In [9]:
head(Player)

ERROR: Error in head(Player): object 'Player' not found

In [10]:
Player<- tbl(my_db2, "Player")

In [11]:
head(Player)

Source:   query [?? x 7]
Database: sqlite 3.11.1 [database.sqlite]

     id player_api_id        player_name player_fifa_api_id            birthday
  <int>         <int>              <chr>              <int>               <chr>
1     1        505942 Aaron Appindangoye             218353 1992-02-29 00:00:00
2     2        155782    Aaron Cresswell             189615 1989-12-15 00:00:00
3     3        162549        Aaron Doran             186170 1991-05-13 00:00:00
4     4         30572      Aaron Galindo             140161 1982-05-08 00:00:00
5     5         23780       Aaron Hughes              17725 1979-11-08 00:00:00
6     6         27316         Aaron Hunt             158138 1986-09-04 00:00:00
# ... with 2 more variables: height <dbl>, weight <int>

In [13]:
Player_Attributes<-tbl(my_db2, "Player_Attributes")

In [14]:
head(Player_Attributes)

Source:   query [?? x 42]
Database: sqlite 3.11.1 [database.sqlite]

     id player_fifa_api_id player_api_id                date overall_rating
  <int>              <int>         <int>               <chr>          <int>
1     1             218353        505942 2016-02-18 00:00:00             67
2     2             218353        505942 2015-11-19 00:00:00             67
3     3             218353        505942 2015-09-21 00:00:00             62
4     4             218353        505942 2015-03-20 00:00:00             61
5     5             218353        505942 2007-02-22 00:00:00             61
6     6             189615        155782 2016-04-21 00:00:00             74
# ... with 37 more variables: potential <int>, preferred_foot <chr>,
#   attacking_work_rate <chr>, defensive_work_rate <chr>, crossing <int>,
#   finishing <int>, heading_accuracy <int>, short_passing <int>,
#   volleys <int>, dribbling <int>, curve <int>, free_kick_accuracy <int>,
#   long_passing <int>, ball_control <int>, acceleration <int>,
#   sprint_speed <int>, agility <int>, reactions <int>, balance <int>,
#   shot_power <int>, jumping <int>, stamina <int>, strength <int>,
#   long_shots <int>, aggression <int>, interceptions <int>, positioning <int>,
#   vision <int>, penalties <int>, marking <int>, standing_tackle <int>,
#   sliding_tackle <int>, gk_diving <int>, gk_handling <int>, gk_kicking <int>,
#   gk_positioning <int>, gk_reflexes <int>

In [15]:
League<-tbl(my_db2,"League")

In [16]:
head(League)

Source:   query [?? x 3]
Database: sqlite 3.11.1 [database.sqlite]

     id country_id                   name
  <int>      <int>                  <chr>
1     1          1 Belgium Jupiler League
2  1729       1729 England Premier League
3  4769       4769         France Ligue 1
4  7809       7809  Germany 1. Bundesliga
5 10257      10257          Italy Serie A
6 13274      13274 Netherlands Eredivisie

In [17]:
Match<-tbl(my_db2,"MAtch")

In [18]:
head(Match)

Source:   query [?? x 115]
Database: sqlite 3.11.1 [database.sqlite]

     id country_id league_id    season stage                date match_api_id
  <int>      <int>     <int>     <chr> <int>               <chr>        <int>
1     1          1         1 2008/2009     1 2008-08-17 00:00:00       492473
2     2          1         1 2008/2009     1 2008-08-16 00:00:00       492474
3     3          1         1 2008/2009     1 2008-08-16 00:00:00       492475
4     4          1         1 2008/2009     1 2008-08-17 00:00:00       492476
5     5          1         1 2008/2009     1 2008-08-16 00:00:00       492477
6     6          1         1 2008/2009     1 2008-09-24 00:00:00       492478
# ... with 108 more variables: home_team_api_id <int>, away_team_api_id <int>,
#   home_team_goal <int>, away_team_goal <int>, home_player_X1 <int>,
#   home_player_X2 <int>, home_player_X3 <int>, home_player_X4 <int>,
#   home_player_X5 <int>, home_player_X6 <int>, home_player_X7 <int>,
#   home_player_X8 <int>, home_player_X9 <int>, home_player_X10 <int>,
#   home_player_X11 <int>, away_player_X1 <int>, away_player_X2 <int>,
#   away_player_X3 <int>, away_player_X4 <int>, away_player_X5 <int>,
#   away_player_X6 <int>, away_player_X7 <int>, away_player_X8 <int>,
#   away_player_X9 <int>, away_player_X10 <int>, away_player_X11 <int>,
#   home_player_Y1 <int>, home_player_Y2 <int>, home_player_Y3 <int>,
#   home_player_Y4 <int>, home_player_Y5 <int>, home_player_Y6 <int>,
#   home_player_Y7 <int>, home_player_Y8 <int>, home_player_Y9 <int>,
#   home_player_Y10 <int>, home_player_Y11 <int>, away_player_Y1 <int>,
#   away_player_Y2 <int>, away_player_Y3 <int>, away_player_Y4 <int>,
#   away_player_Y5 <int>, away_player_Y6 <int>, away_player_Y7 <int>,
#   away_player_Y8 <int>, away_player_Y9 <int>, away_player_Y10 <int>,
#   away_player_Y11 <int>, home_player_1 <int>, home_player_2 <int>,
#   home_player_3 <int>, home_player_4 <int>, home_player_5 <int>,
#   home_player_6 <int>, home_player_7 <int>, home_player_8 <int>,
#   home_player_9 <int>, home_player_10 <int>, home_player_11 <int>,
#   away_player_1 <int>, away_player_2 <int>, away_player_3 <int>,
#   away_player_4 <int>, away_player_5 <int>, away_player_6 <int>,
#   away_player_7 <int>, away_player_8 <int>, away_player_9 <int>,
#   away_player_10 <int>, away_player_11 <int>, goal <chr>, shoton <chr>,
#   shotoff <chr>, foulcommit <chr>, card <chr>, cross <chr>, corner <chr>,
#   possession <chr>, B365H <dbl>, B365D <dbl>, B365A <int>, BWH <dbl>,
#   BWD <dbl>, BWA <dbl>, IWH <dbl>, IWD <dbl>, IWA <dbl>, LBH <dbl>,
#   LBD <dbl>, LBA <dbl>, PSH <dbl>, PSD <dbl>, PSA <dbl>, WHH <dbl>,
#   WHD <dbl>, WHA <dbl>, SJH <dbl>, SJD <dbl>, SJA <int>, VCH <dbl>, ...

In [19]:
sqlite_sequence<-tbl(my_db2,"sqlite_sequence")

In [20]:
sqlite_sequence

Source:   query [?? x 2]
Database: sqlite 3.11.1 [database.sqlite]

               name    seq
              <chr>  <int>
1              Team 103916
2           Country  51958
3            League  51958
4             Match  51958
5            Player  11075
6 Player_Attributes 183978
7   Team_Attributes   1458

In [21]:
Team<-tbl(my_db2,"Team")

In [22]:
head(Team)

Source:   query [?? x 5]
Database: sqlite 3.11.1 [database.sqlite]

     id team_api_id team_fifa_api_id    team_long_name team_short_name
  <int>       <int>            <int>             <chr>           <chr>
1     1        9987              673          KRC Genk             GEN
2     2        9993              675      Beerschot AC             BAC
3     3       10000            15005  SV Zulte-Waregem             ZUL
4     4        9994             2007  Sporting Lokeren             LOK
5     5        9984             1750 KSV Cercle Brugge             CEB
6     6        8635              229    RSC Anderlecht             AND

In [23]:
Team_attributes<-tbl(my_db2,"Team_attributes")

In [24]:
head(Team_attributes)

Source:   query [?? x 25]
Database: sqlite 3.11.1 [database.sqlite]

     id team_fifa_api_id team_api_id                date buildUpPlaySpeed
  <int>            <int>       <int>               <chr>            <int>
1     1              434        9930 2010-02-22 00:00:00               60
2     2              434        9930 2014-09-19 00:00:00               52
3     3              434        9930 2015-09-10 00:00:00               47
4     4               77        8485 2010-02-22 00:00:00               70
5     5               77        8485 2011-02-22 00:00:00               47
6     6               77        8485 2012-02-22 00:00:00               58
# ... with 20 more variables: buildUpPlaySpeedClass <chr>,
#   buildUpPlayDribbling <int>, buildUpPlayDribblingClass <chr>,
#   buildUpPlayPassing <int>, buildUpPlayPassingClass <chr>,
#   buildUpPlayPositioningClass <chr>, chanceCreationPassing <int>,
#   chanceCreationPassingClass <chr>, chanceCreationCrossing <int>,
#   chanceCreationCrossingClass <chr>, chanceCreationShooting <int>,
#   chanceCreationShootingClass <chr>, chanceCreationPositioningClass <chr>,
#   defencePressure <int>, defencePressureClass <chr>, defenceAggression <int>,
#   defenceAggressionClass <chr>, defenceTeamWidth <int>,
#   defenceTeamWidthClass <chr>, defenceDefenderLineClass <chr>

In [25]:
Player_attributes

ERROR: Error in eval(expr, envir, enclos): object 'Player_attributes' not found

In [26]:
Player_Attributes

Source:   query [?? x 42]
Database: sqlite 3.11.1 [database.sqlite]

      id player_fifa_api_id player_api_id                date overall_rating
   <int>              <int>         <int>               <chr>          <int>
1      1             218353        505942 2016-02-18 00:00:00             67
2      2             218353        505942 2015-11-19 00:00:00             67
3      3             218353        505942 2015-09-21 00:00:00             62
4      4             218353        505942 2015-03-20 00:00:00             61
5      5             218353        505942 2007-02-22 00:00:00             61
6      6             189615        155782 2016-04-21 00:00:00             74
7      7             189615        155782 2016-04-07 00:00:00             74
8      8             189615        155782 2016-01-07 00:00:00             73
9      9             189615        155782 2015-12-24 00:00:00             73
10    10             189615        155782 2015-12-17 00:00:00             73
# ... with more rows, and 37 more variables: potential <int>,
#   preferred_foot <chr>, attacking_work_rate <chr>, defensive_work_rate <chr>,
#   crossing <int>, finishing <int>, heading_accuracy <int>,
#   short_passing <int>, volleys <int>, dribbling <int>, curve <int>,
#   free_kick_accuracy <int>, long_passing <int>, ball_control <int>,
#   acceleration <int>, sprint_speed <int>, agility <int>, reactions <int>,
#   balance <int>, shot_power <int>, jumping <int>, stamina <int>,
#   strength <int>, long_shots <int>, aggression <int>, interceptions <int>,
#   positioning <int>, vision <int>, penalties <int>, marking <int>,
#   standing_tackle <int>, sliding_tackle <int>, gk_diving <int>,
#   gk_handling <int>, gk_kicking <int>, gk_positioning <int>,
#   gk_reflexes <int>

In [27]:
Player_Attributes.attribute()

ERROR: Error in eval(expr, envir, enclos): could not find function "Player_Attributes.attribute"

In [28]:
Bplay<-select(Team_attributes, buildUpPlaySpeedClass,
   buildUpPlayDribbling , buildUpPlayDribblingClass ,
   buildUpPlayPassing , buildUpPlayPassingClass ,
   buildUpPlayPositioningClass )

In [29]:
head(Bplay)

Source:   query [?? x 6]
Database: sqlite 3.11.1 [database.sqlite]

  buildUpPlaySpeedClass buildUpPlayDribbling buildUpPlayDribblingClass
                  <chr>                <int>                     <chr>
1              Balanced                   NA                    Little
2              Balanced                   48                    Normal
3              Balanced                   41                    Normal
4                  Fast                   NA                    Little
5              Balanced                   NA                    Little
6              Balanced                   NA                    Little
# ... with 3 more variables: buildUpPlayPassing <int>,
#   buildUpPlayPassingClass <chr>, buildUpPlayPositioningClass <chr>

In [36]:
t<select(Team_attributes,sum(buildUpPlaySpeedClass,
   buildUpPlayDribbling , buildUpPlayDribblingClass ,
   buildUpPlayPassing , buildUpPlayPassingClass ,
   buildUpPlayPositioningClass))

ERROR: Error in t < select(Team_attributes, sum(buildUpPlaySpeedClass, buildUpPlayDribbling, : comparison (3) is possible only for atomic and list types

In [31]:
Team_attributes %like% "buildUpPlay*"

ERROR: Error in eval(expr, envir, enclos): could not find function "%like%"

In [37]:
select(Player_Attributes, overall_rating)

Source:   query [?? x 1]
Database: sqlite 3.11.1 [database.sqlite]

   overall_rating
            <int>
1              67
2              67
3              62
4              61
5              61
6              74
7              74
8              73
9              73
10             73
# ... with more rows

In [38]:
select(Player_Attributes, max(overall_rating))

Source:   query [?? x 1]
Database: sqlite 3.11.1 [database.sqlite]

   overall_rating
            <int>
1              67
2              67
3              62
4              61
5              61
6              74
7              74
8              73
9              73
10             73
# ... with more rows

In [39]:
select(Player_Attributes, player_fifa_api_id, max(overall_rating))

Source:   query [?? x 2]
Database: sqlite 3.11.1 [database.sqlite]

   player_fifa_api_id overall_rating
                <int>          <int>
1              218353             67
2              218353             67
3              218353             62
4              218353             61
5              218353             61
6              189615             74
7              189615             74
8              189615             73
9              189615             73
10             189615             73
# ... with more rows

In [42]:
select(Player_Attributes, unique(player_fifa_api_id, max(overall_rating)))

Source:   query [?? x 1]
Database: sqlite 3.11.1 [database.sqlite]

   player_fifa_api_id
                <int>
1              218353
2              218353
3              218353
4              218353
5              218353
6              189615
7              189615
8              189615
9              189615
10             189615
# ... with more rows

In [45]:
translate_sql(select player_fifa_api_id FROM Player_Attributes WHERE overall_rating=max(overall_rating))

ERROR: Error in parse(text = x, srcfile = src): <text>:1:22: unexpected symbol
1: translate_sql(select player_fifa_api_id
                         ^

In [63]:
gk<-select(Player_Attributes,gk_diving ,
   gk_handling , gk_kicking , gk_positioning ,
   gk_reflexes )

In [51]:
select(Player_Attributes,player_api_id,(gk_diving +
   gk_handling + gk_kicking + gk_positioning ,
   gk_reflexes))

In [49]:
head(gk)

In [53]:
gk

Source:   query [?? x 5]
Database: sqlite 3.11.1 [database.sqlite]

   gk_diving gk_handling gk_kicking gk_positioning gk_reflexes
       <int>       <int>      <int>          <int>       <int>
1          6          11         10              8           8
2          6          11         10              8           8
3          6          11         10              8           8
4          5          10          9              7           7
5          5          10          9              7           7
6         14           7          9              9          12
7         14           7          9              9          12
8         14           7          9              9          12
9         14           7          9              9          12
10        14           7          9              9          12
# ... with more rows

In [66]:
gk1<-mutate(gk, gk_sum=(gk_diving+gk_handling+gk_kicking+gk_positioning+gk_reflexes))

In [67]:
gk1

Source:   query [?? x 6]
Database: sqlite 3.11.1 [database.sqlite]

   gk_diving gk_handling gk_kicking gk_positioning gk_reflexes gk_sum
       <int>       <int>      <int>          <int>       <int>  <int>
1          6          11         10              8           8     43
2          6          11         10              8           8     43
3          6          11         10              8           8     43
4          5          10          9              7           7     38
5          5          10          9              7           7     38
6         14           7          9              9          12     51
7         14           7          9              9          12     51
8         14           7          9              9          12     51
9         14           7          9              9          12     51
10        14           7          9              9          12     51
# ... with more rows

In [68]:
Player_Attributes

Source:   query [?? x 42]
Database: sqlite 3.11.1 [database.sqlite]

      id player_fifa_api_id player_api_id                date overall_rating
   <int>              <int>         <int>               <chr>          <int>
1      1             218353        505942 2016-02-18 00:00:00             67
2      2             218353        505942 2015-11-19 00:00:00             67
3      3             218353        505942 2015-09-21 00:00:00             62
4      4             218353        505942 2015-03-20 00:00:00             61
5      5             218353        505942 2007-02-22 00:00:00             61
6      6             189615        155782 2016-04-21 00:00:00             74
7      7             189615        155782 2016-04-07 00:00:00             74
8      8             189615        155782 2016-01-07 00:00:00             73
9      9             189615        155782 2015-12-24 00:00:00             73
10    10             189615        155782 2015-12-17 00:00:00             73
# ... with more rows, and 37 more variables: potential <int>,
#   preferred_foot <chr>, attacking_work_rate <chr>, defensive_work_rate <chr>,
#   crossing <int>, finishing <int>, heading_accuracy <int>,
#   short_passing <int>, volleys <int>, dribbling <int>, curve <int>,
#   free_kick_accuracy <int>, long_passing <int>, ball_control <int>,
#   acceleration <int>, sprint_speed <int>, agility <int>, reactions <int>,
#   balance <int>, shot_power <int>, jumping <int>, stamina <int>,
#   strength <int>, long_shots <int>, aggression <int>, interceptions <int>,
#   positioning <int>, vision <int>, penalties <int>, marking <int>,
#   standing_tackle <int>, sliding_tackle <int>, gk_diving <int>,
#   gk_handling <int>, gk_kicking <int>, gk_positioning <int>,
#   gk_reflexes <int>

In [69]:
Player_test<-select(Player_Attributes, id, player_fifa_api_id, player_api_id, overall_rating,gk_diving,
   gk_handling, gk_kicking, gk_positioning, gk_reflexes)

In [70]:
Player_test

Source:   query [?? x 9]
Database: sqlite 3.11.1 [database.sqlite]

      id player_fifa_api_id player_api_id overall_rating gk_diving gk_handling
   <int>              <int>         <int>          <int>     <int>       <int>
1      1             218353        505942             67         6          11
2      2             218353        505942             67         6          11
3      3             218353        505942             62         6          11
4      4             218353        505942             61         5          10
5      5             218353        505942             61         5          10
6      6             189615        155782             74        14           7
7      7             189615        155782             74        14           7
8      8             189615        155782             73        14           7
9      9             189615        155782             73        14           7
10    10             189615        155782             73        14           7
# ... with more rows, and 3 more variables: gk_kicking <int>,
#   gk_positioning <int>, gk_reflexes <int>

In [78]:
Player_test2<-mutate(Player_test, gk_sum=(gk_diving+gk_handling+gk_kicking+ gk_positioning+ gk_reflexes))

In [81]:
select(Player_test2, id, player_fifa_api_id, gk_sum )

Source:   query [?? x 3]
Database: sqlite 3.11.1 [database.sqlite]

      id player_fifa_api_id gk_sum
   <int>              <int>  <int>
1      1             218353     43
2      2             218353     43
3      3             218353     43
4      4             218353     38
5      5             218353     38
6      6             189615     51
7      7             189615     51
8      8             189615     51
9      9             189615     51
10    10             189615     51
# ... with more rows

In [82]:
Player_test2<-select(Player_test2, id, player_fifa_api_id, player_api_id, overall_rating, gk_sum)

In [83]:
Player_test2

Source:   query [?? x 5]
Database: sqlite 3.11.1 [database.sqlite]

      id player_fifa_api_id player_api_id overall_rating gk_sum
   <int>              <int>         <int>          <int>  <int>
1      1             218353        505942             67     43
2      2             218353        505942             67     43
3      3             218353        505942             62     43
4      4             218353        505942             61     38
5      5             218353        505942             61     38
6      6             189615        155782             74     51
7      7             189615        155782             74     51
8      8             189615        155782             73     51
9      9             189615        155782             73     51
10    10             189615        155782             73     51
# ... with more rows

In [85]:
Player_test3<-left_join(Player ,Player_test2)

Joining, by = c("id", "player_api_id", "player_fifa_api_id")

In [87]:
Player_test3<-select(Player_test3, id, player_api_id, player_name,player_fifa_api_id, overall_rating, gk_sum  )

In [88]:
Player_test3

Source:   query [?? x 6]
Database: sqlite 3.11.1 [database.sqlite]

      id player_api_id        player_name player_fifa_api_id overall_rating
   <int>         <int>              <chr>              <int>          <int>
1      1        505942 Aaron Appindangoye             218353             67
2      2        155782    Aaron Cresswell             189615             NA
3      3        162549        Aaron Doran             186170             NA
4      4         30572      Aaron Galindo             140161             NA
5      5         23780       Aaron Hughes              17725             NA
6      6         27316         Aaron Hunt             158138             NA
7      7        564793         Aaron Kuhl             221280             NA
8      8         30895       Aaron Lennon             152747             NA
9      9        528212       Aaron Lennox             206592             NA
10    10        101042      Aaron Meijers             188621             NA
# ... with more rows, and 1 more variables: gk_sum <int>

In [98]:
t<-select(Match , home_player_7)

In [99]:
head(t,n=40)

Source:   query [?? x 1]
Database: sqlite 3.11.1 [database.sqlite]

   home_player_7
           <int>
1             NA
2             NA
3             NA
4             NA
5             NA
6             NA
7             NA
8             NA
9             NA
10            NA
# ... with more rows

In [101]:
team_test<-select(Team_attributes,id, team_fifa_api_id, team_api_id, buildUpPlaySpeed, buildUpPlayDribbling, buildUpPlayPassing,
                  chanceCreationPassing, chanceCreationCrossing ,
 chanceCreationShooting ,defencePressure, defenceAggression, defenceTeamWidth)

In [103]:
team_test

Source:   query [?? x 12]
Database: sqlite 3.11.1 [database.sqlite]

      id team_fifa_api_id team_api_id buildUpPlaySpeed buildUpPlayDribbling
   <int>            <int>       <int>            <int>                <int>
1      1              434        9930               60                   NA
2      2              434        9930               52                   48
3      3              434        9930               47                   41
4      4               77        8485               70                   NA
5      5               77        8485               47                   NA
6      6               77        8485               58                   NA
7      7               77        8485               62                   NA
8      8               77        8485               58                   64
9      9               77        8485               59                   64
10    10              614        8576               60                   NA
# ... with more rows, and 7 more variables: buildUpPlayPassing <int>,
#   chanceCreationPassing <int>, chanceCreationCrossing <int>,
#   chanceCreationShooting <int>, defencePressure <int>,
#   defenceAggression <int>, defenceTeamWidth <int>

In [104]:
team_test<-mutate(team_test,buildUpPlay_sum=(buildUpPlaySpeed+buildUpPlayDribbling+buildUpPlayPassing))

In [109]:
team_test

Source:   query [?? x 15]
Database: sqlite 3.11.1 [database.sqlite]

      id team_fifa_api_id team_api_id buildUpPlaySpeed buildUpPlayDribbling
   <int>            <int>       <int>            <int>                <int>
1      1              434        9930               60                   NA
2      2              434        9930               52                   48
3      3              434        9930               47                   41
4      4               77        8485               70                   NA
5      5               77        8485               47                   NA
6      6               77        8485               58                   NA
7      7               77        8485               62                   NA
8      8               77        8485               58                   64
9      9               77        8485               59                   64
10    10              614        8576               60                   NA
# ... with more rows, and 10 more variables: buildUpPlayPassing <int>,
#   chanceCreationPassing <int>, chanceCreationCrossing <int>,
#   chanceCreationShooting <int>, defencePressure <int>,
#   defenceAggression <int>, defenceTeamWidth <int>, buildUpPlay_sum <int>,
#   chanceCreation_sum <int>, defence_sum <int>

In [106]:
team_test<-mutate(team_test,chanceCreation_sum=(chanceCreationPassing + chanceCreationCrossing +chanceCreationShooting ))

In [108]:
team_test<-mutate(team_test,defence_sum=(defencePressure +defenceAggression +defenceTeamWidth ))

In [110]:
team_test2<-select(team_test,id, team_fifa_api_id, team_api_id, buildUpPlay_sum, chanceCreation_sum, defence_sum)

In [111]:
team_test2

Source:   query [?? x 6]
Database: sqlite 3.11.1 [database.sqlite]

      id team_fifa_api_id team_api_id buildUpPlay_sum chanceCreation_sum
   <int>            <int>       <int>           <int>              <int>
1      1              434        9930              NA                180
2      2              434        9930             156                181
3      3              434        9930             142                181
4      4               77        8485              NA                210
5      5               77        8485              NA                153
6      6               77        8485              NA                170
7      7               77        8485              NA                145
8      8               77        8485             184                181
9      9               77        8485             176                186
10    10              614        8576              NA                135
# ... with more rows, and 1 more variables: defence_sum <int>

In [120]:
team_test4<-left_join(Team,team_test2)

Joining, by = c("id", "team_api_id", "team_fifa_api_id")

In [115]:
team_test3

Source:   query [?? x 8]
Database: sqlite 3.11.1 [database.sqlite]

      id team_api_id team_fifa_api_id    team_long_name team_short_name
   <int>       <int>            <int>             <chr>           <chr>
1      1        9987              673          KRC Genk             GEN
2      2        9993              675      Beerschot AC             BAC
3      3       10000            15005  SV Zulte-Waregem             ZUL
4      4        9994             2007  Sporting Lokeren             LOK
5      5        9984             1750 KSV Cercle Brugge             CEB
6      6        8635              229    RSC Anderlecht             AND
7      7        9991              674          KAA Gent             GEN
8      8        9998             1747         RAEC Mons             MON
9      9        7947               NA     FCV Dender EH             DEN
10    10        9985              232 Standard de Liège             STL
# ... with more rows, and 3 more variables: buildUpPlay_sum <lgl>,
#   chanceCreation_sum <lgl>, defence_sum <lgl>

In [116]:
collect(team_test3)

    id    team_api_id team_fifa_api_id team_long_name          team_short_name
1      1    9987         673           KRC Genk                GEN
2      2    9993         675           Beerschot AC            BAC
3      3   10000       15005           SV Zulte-Waregem        ZUL
4      4    9994        2007           Sporting Lokeren        LOK
5      5    9984        1750           KSV Cercle Brugge       CEB
6      6    8635         229           RSC Anderlecht          AND
7      7    9991         674           KAA Gent                GEN
8      8    9998        1747           RAEC Mons               MON
9      9    7947          NA           FCV Dender EH           DEN
10    10    9985         232           Standard de Liège       STL
11    11    8203      110724           KV Mechelen             MEC
12    12    8342         231           Club Brugge KV          CLB
13    13    9999         546           KSV Roeselare           ROS
14    14    8571      100081           KV Kortrijk             KOR
15    15    4049          NA           Tubize                  TUB
16    16    9996      111560           Royal Excel Mouscron    MOU
17    17   10001         681           KVC Westerlo            WES
18    18    9986         670           Sporting Charleroi      CHA
19   614    9997         680           Sint-Truidense VV       STT
20  1034    9989         239           Lierse SK               LIE
21  1042    6351        2013           KAS Eupen               EUP
22  1513    1773      100087           Oud-Heverlee Leuven     O-H
23  2004    8475      110913           Waasland-Beveren        WAA
24  2476    8573         682           KV Oostende             OOS
25  2510  274581      111560           Royal Excel Mouscron    MOP
26  3457   10260          11           Manchester United       MUN
27  3458   10261          13           Newcastle United        NEW
28  3459    9825           1           Arsenal                 ARS
29  3460    8659         109           West Bromwich Albion    WBA
30  3461    8472         106           Sunderland              SUN
... ...   ...         ...              ...                     ...
270 43053  9906          240           Atlético Madrid         AMA
271 43054  9864          573           Málaga CF               MAL
272 43800  9868         1742           Xerez Club Deportivo    XER
273 43803  8394          244           Real Zaragoza           ZAR
274 43804  9867          260           CD Tenerife             TEN
275 44557 10278       100879           Hércules Club de Fútbol HER
276 44565  8581         1853           Levante UD              LEV
277 44569  8560          457           Real Sociedad           SOC
278 45330  7878       110832           Granada CF              GRA
279 45333  8370          480           Rayo Vallecano          RAY
280 46087  9910          450           RC Celta de Vigo        CEL
281 46848 10268          468           Elche CF                ELC
282 47605  8372          467           SD Eibar                EIB
283 47612  7869         1867           Córdoba CF              COR
284 48358  8306          472           UD Las Palmas           LAS
285 49115  9956          322           Grasshopper Club Zürich GRA
286 49116  6493         1714           AC Bellinzona           BEL
287 49117 10192          900           BSC Young Boys          YB
288 49118  9931          896           FC Basel                BAS
289 49119  9930          434           FC Aarau                AAR
290 49120 10179       110770           FC Sion                 SIO
291 49121 10199          897           FC Luzern               LUZ
292 49122  9824          286           FC Vaduz                VAD
293 49123  7955          435           Neuchâtel Xamax         XAM
294 49124 10243          894           FC Zürich               ZUR
295 49479 10190          898           FC St. Gallen           GAL
296 49837 10191         1715           FC Thun                 THU
297 50201  9777          324           Servette FC             SER
298 50204  7730         1862           FC Lausanne-Sports      LAU
299 51606  7896           NA           Lugano                  LUG
    buildUpPlay_sum chanceCreation_sum defence_sum
1   NA              NA                 NA
2   NA              NA                 NA
3   NA              NA                 NA
4   NA              NA                 NA
5   NA              NA                 NA
6   NA              NA                 NA
7   NA              NA                 NA
8   NA              NA                 NA
9   NA              NA                 NA
10  NA              NA                 NA
11  NA              NA                 NA
12  NA              NA                 NA
13  NA              NA                 NA
14  NA              NA                 NA
15  NA              NA                 NA
16  NA              NA                 NA
17  NA              NA                 NA
18  NA              NA                 NA
19  NA              NA                 NA
20  NA              NA                 NA
21  NA              NA                 NA
22  NA              NA                 NA
23  NA              NA                 NA
24  NA              NA                 NA
25  NA              NA                 NA
26  NA              NA                 NA
27  NA              NA                 NA
28  NA              NA                 NA
29  NA              NA                 NA
30  NA              NA                 NA
... ...             ...                ...
270 NA              NA                 NA
271 NA              NA                 NA
272 NA              NA                 NA
273 NA              NA                 NA
274 NA              NA                 NA
275 NA              NA                 NA
276 NA              NA                 NA
277 NA              NA                 NA
278 NA              NA                 NA
279 NA              NA                 NA
280 NA              NA                 NA
281 NA              NA                 NA
282 NA              NA                 NA
283 NA              NA                 NA
284 NA              NA                 NA
285 NA              NA                 NA
286 NA              NA                 NA
287 NA              NA                 NA
288 NA              NA                 NA
289 NA              NA                 NA
290 NA              NA                 NA
291 NA              NA                 NA
292 NA              NA                 NA
293 NA              NA                 NA
294 NA              NA                 NA
295 NA              NA                 NA
296 NA              NA                 NA
297 NA              NA                 NA
298 NA              NA                 NA
299 NA              NA                 NA

In [192]:
head(collect(team_test2))

  id team_fifa_api_id team_api_id buildUpPlay_sum chanceCreation_sum
1 1  434              9930         NA             180
2 2  434              9930        156             181
3 3  434              9930        142             181
4 4   77              8485         NA             210
5 5   77              8485         NA             153
6 6   77              8485         NA             170
  defence_sum
1 150
2 145
3 145
4 200
5 146
6 140

In [198]:
new_team_attri<-summarise(team_attri,
             max_build=max(buildUpPlay_sum),
             max_chance=max(chanceCreation_sum),
             max_defence=max(defence_sum)
                         )

In [196]:
team_attri<-group_by(team_test2,team_api_id)

In [199]:
new_team_attri

Source:   query [?? x 4]
Database: sqlite 3.11.1 [database.sqlite]

   team_api_id max_build max_chance max_defence
         <int>     <int>      <int>       <int>
1         1601       139        186         175
2         1773       153        157         137
3         1957       158        163         210
4         2033       147        165         155
5         2182       176        196         160
6         2183        NA        180         175
7         2186       125        168         205
8         4087       156        180         165
9         4170        NA        165         200
10        6269       179        172         151
# ... with more rows

In [121]:
collect(team_test4)

    id    team_api_id team_fifa_api_id team_long_name          team_short_name
1      1    9987         673           KRC Genk                GEN
2      2    9993         675           Beerschot AC            BAC
3      3   10000       15005           SV Zulte-Waregem        ZUL
4      4    9994        2007           Sporting Lokeren        LOK
5      5    9984        1750           KSV Cercle Brugge       CEB
6      6    8635         229           RSC Anderlecht          AND
7      7    9991         674           KAA Gent                GEN
8      8    9998        1747           RAEC Mons               MON
9      9    7947          NA           FCV Dender EH           DEN
10    10    9985         232           Standard de Liège       STL
11    11    8203      110724           KV Mechelen             MEC
12    12    8342         231           Club Brugge KV          CLB
13    13    9999         546           KSV Roeselare           ROS
14    14    8571      100081           KV Kortrijk             KOR
15    15    4049          NA           Tubize                  TUB
16    16    9996      111560           Royal Excel Mouscron    MOU
17    17   10001         681           KVC Westerlo            WES
18    18    9986         670           Sporting Charleroi      CHA
19   614    9997         680           Sint-Truidense VV       STT
20  1034    9989         239           Lierse SK               LIE
21  1042    6351        2013           KAS Eupen               EUP
22  1513    1773      100087           Oud-Heverlee Leuven     O-H
23  2004    8475      110913           Waasland-Beveren        WAA
24  2476    8573         682           KV Oostende             OOS
25  2510  274581      111560           Royal Excel Mouscron    MOP
26  3457   10260          11           Manchester United       MUN
27  3458   10261          13           Newcastle United        NEW
28  3459    9825           1           Arsenal                 ARS
29  3460    8659         109           West Bromwich Albion    WBA
30  3461    8472         106           Sunderland              SUN
... ...   ...         ...              ...                     ...
270 43053  9906          240           Atlético Madrid         AMA
271 43054  9864          573           Málaga CF               MAL
272 43800  9868         1742           Xerez Club Deportivo    XER
273 43803  8394          244           Real Zaragoza           ZAR
274 43804  9867          260           CD Tenerife             TEN
275 44557 10278       100879           Hércules Club de Fútbol HER
276 44565  8581         1853           Levante UD              LEV
277 44569  8560          457           Real Sociedad           SOC
278 45330  7878       110832           Granada CF              GRA
279 45333  8370          480           Rayo Vallecano          RAY
280 46087  9910          450           RC Celta de Vigo        CEL
281 46848 10268          468           Elche CF                ELC
282 47605  8372          467           SD Eibar                EIB
283 47612  7869         1867           Córdoba CF              COR
284 48358  8306          472           UD Las Palmas           LAS
285 49115  9956          322           Grasshopper Club Zürich GRA
286 49116  6493         1714           AC Bellinzona           BEL
287 49117 10192          900           BSC Young Boys          YB
288 49118  9931          896           FC Basel                BAS
289 49119  9930          434           FC Aarau                AAR
290 49120 10179       110770           FC Sion                 SIO
291 49121 10199          897           FC Luzern               LUZ
292 49122  9824          286           FC Vaduz                VAD
293 49123  7955          435           Neuchâtel Xamax         XAM
294 49124 10243          894           FC Zürich               ZUR
295 49479 10190          898           FC St. Gallen           GAL
296 49837 10191         1715           FC Thun                 THU
297 50201  9777          324           Servette FC             SER
298 50204  7730         1862           FC Lausanne-Sports      LAU
299 51606  7896           NA           Lugano                  LUG
    buildUpPlay_sum chanceCreation_sum defence_sum
1   NA              NA                 NA
2   NA              NA                 NA
3   NA              NA                 NA
4   NA              NA                 NA
5   NA              NA                 NA
6   NA              NA                 NA
7   NA              NA                 NA
8   NA              NA                 NA
9   NA              NA                 NA
10  NA              NA                 NA
11  NA              NA                 NA
12  NA              NA                 NA
13  NA              NA                 NA
14  NA              NA                 NA
15  NA              NA                 NA
16  NA              NA                 NA
17  NA              NA                 NA
18  NA              NA                 NA
19  NA              NA                 NA
20  NA              NA                 NA
21  NA              NA                 NA
22  NA              NA                 NA
23  NA              NA                 NA
24  NA              NA                 NA
25  NA              NA                 NA
26  NA              NA                 NA
27  NA              NA                 NA
28  NA              NA                 NA
29  NA              NA                 NA
30  NA              NA                 NA
... ...             ...                ...
270 NA              NA                 NA
271 NA              NA                 NA
272 NA              NA                 NA
273 NA              NA                 NA
274 NA              NA                 NA
275 NA              NA                 NA
276 NA              NA                 NA
277 NA              NA                 NA
278 NA              NA                 NA
279 NA              NA                 NA
280 NA              NA                 NA
281 NA              NA                 NA
282 NA              NA                 NA
283 NA              NA                 NA
284 NA              NA                 NA
285 NA              NA                 NA
286 NA              NA                 NA
287 NA              NA                 NA
288 NA              NA                 NA
289 NA              NA                 NA
290 NA              NA                 NA
291 NA              NA                 NA
292 NA              NA                 NA
293 NA              NA                 NA
294 NA              NA                 NA
295 NA              NA                 NA
296 NA              NA                 NA
297 NA              NA                 NA
298 NA              NA                 NA
299 NA              NA                 NA

In [126]:
select(team_test2, max((chanceCreation_sum)))

Source:   query [?? x 1]
Database: sqlite 3.11.1 [database.sqlite]

   chanceCreation_sum
                <int>
1                 180
2                 181
3                 181
4                 210
5                 153
6                 170
7                 145
8                 181
9                 186
10                135
# ... with more rows

In [200]:
team_test4<-Team %>% left_join(new_team_attri, by="team_api_id")

In [201]:
team_test4

Source:   query [?? x 8]
Database: sqlite 3.11.1 [database.sqlite]

      id team_api_id team_fifa_api_id    team_long_name team_short_name
   <int>       <int>            <int>             <chr>           <chr>
1      1        9987              673          KRC Genk             GEN
2      2        9993              675      Beerschot AC             BAC
3      3       10000            15005  SV Zulte-Waregem             ZUL
4      4        9994             2007  Sporting Lokeren             LOK
5      5        9984             1750 KSV Cercle Brugge             CEB
6      6        8635              229    RSC Anderlecht             AND
7      7        9991              674          KAA Gent             GEN
8      8        9998             1747         RAEC Mons             MON
9      9        7947               NA     FCV Dender EH             DEN
10    10        9985              232 Standard de Liège             STL
# ... with more rows, and 3 more variables: max_build <int>, max_chance <int>,
#   max_defence <int>

In [188]:
head(collect(team_test4))

  id.x team_fifa_api_id.x team_api_id buildUpPlay_sum chanceCreation_sum
1 1    434                9930         NA             180
2 2    434                9930        156             181
3 3    434                9930        142             181
4 4     77                8485         NA             210
5 5     77                8485         NA             153
6 6     77                8485         NA             170
  defence_sum id.y  team_fifa_api_id.y team_long_name team_short_name
1 150         49119 434                FC Aarau       AAR
2 145         49119 434                FC Aarau       AAR
3 145         49119 434                FC Aarau       AAR
4 200         39393  77                Aberdeen       ABE
5 146         39393  77                Aberdeen       ABE
6 140         39393  77                Aberdeen       ABE

In [134]:
collect(Player_test2)

Warning message:
"Only first 100,000 results retrieved. Use n = Inf to retrieve all."

       id     player_fifa_api_id player_api_id overall_rating gk_sum
1       1     218353             505942        67             43
2       2     218353             505942        67             43
3       3     218353             505942        62             43
4       4     218353             505942        61             38
5       5     218353             505942        61             38
6       6     189615             155782        74             51
7       7     189615             155782        74             51
8       8     189615             155782        73             51
9       9     189615             155782        73             51
10     10     189615             155782        73             51
11     11     189615             155782        73             51
12     12     189615             155782        74             51
13     13     189615             155782        73             51
14     14     189615             155782        71             46
15     15     189615             155782        71             46
16     16     189615             155782        71             46
17     17     189615             155782        70             46
18     18     189615             155782        70             46
19     19     189615             155782        70             46
20     20     189615             155782        70             46
21     21     189615             155782        70             46
22     22     189615             155782        70             46
23     23     189615             155782        69             46
24     24     189615             155782        69             46
25     25     189615             155782        69             46
26     26     189615             155782        69             46
27     27     189615             155782        69             46
28     28     189615             155782        69             46
29     29     189615             155782        69             46
30     30     189615             155782        68             46
...    ...    ...                ...           ...            ...
99971   99971 193416             185705        65              54
99972   99972 193416             185705        65              54
99973   99973 193416             185705        65              54
99974   99974 193416             185705        65              54
99975   99975 193416             185705        65              54
99976   99976 193416             185705        65              54
99977   99977 168353              39569        65              56
99978   99978 168353              39569        71              56
99979   99979 168353              39569        71              56
99980   99980 168353              39569        72              51
99981   99981 168353              39569        72              51
99982   99982 168353              39569        71              51
99983   99983 168353              39569        71              51
99984   99984 168353              39569        71              51
99985   99985 168353              39569        71              51
99986   99986 168353              39569        71              51
99987   99987 168353              39569        71              51
99988   99988 168353              39569        71              51
99989   99989 168353              39569        71              51
99990   99990 168353              39569        72              56
99991   99991 168353              39569        72              56
99992   99992 168353              39569        72              56
99993   99993 168353              39569        72              56
99994   99994 168353              39569        73              56
99995   99995 168353              39569        71              56
99996   99996 168353              39569        72             133
99997   99997 168353              39569        73             133
99998   99998 168353              39569        73             133
99999   99999 168353              39569        56             124
100000 100000 168353              39569        56              91

In [171]:
by_ranking <- group_by(Player_test2, player_api_id)
ranking1 <- summarise( by_ranking,
overall_rate = max(overall_rating),
                      gk_rate=max(gk_sum)
)

In [172]:
ranking1

Source:   query [?? x 3]
Database: sqlite 3.11.1 [database.sqlite]

   player_api_id overall_rate gk_rate
           <int>        <int>   <int>
1           2625           63     153
2           2752           72      53
3           2768           75     128
4           2770           74     148
5           2790           73     144
6           2796           69     340
7           2802           82     146
8           2805           76     141
9           2857           72     143
10          2862           76     146
# ... with more rows

In [179]:
Player_test4<-ranking1 %>% left_join(Player_test3, by = "player_api_id")

In [162]:
by_ranking %>% inner_join(ranking, by = "player_api_id")

In [182]:
Player_test4<-select(Player_test4,player_api_id,overall_rate,gk_rate,id,player_name,player_fifa_api_id)

In [183]:
head(collect(Player_test4))

  player_api_id overall_rate gk_rate id   player_name       player_fifa_api_id
1 2625          63           153     8372 Patryk Rachwal,18 148544
2 2752          72            53     2639 Diego Mainz       135819
3 2768          75           128     5319 Jose Dorado       110019
4 2770          74           148     4339 Ignacio Gonzalez  182861
5 2790          73           144      306 Alberto Rey       110809
6 2796          69           340     4734 Javier Jimenez    198735

In [202]:
head(collect(team_test4))

  id team_api_id team_fifa_api_id team_long_name    team_short_name max_build
1 1   9987         673            KRC Genk          GEN             148
2 2   9993         675            Beerschot AC      BAC              NA
3 3  10000       15005            SV Zulte-Waregem  ZUL             147
4 4   9994        2007            Sporting Lokeren  LOK             159
5 5   9984        1750            KSV Cercle Brugge CEB             145
6 6   8635         229            RSC Anderlecht    AND             149
  max_chance max_defence
1 182        205
2 185        210
3 153        200
4 154        200
5 200        195
6 182        190

In [203]:
write.csv(team_test4,file="team_test4.csv")

In [204]:
write.csv(Player_test4,file="Player_test4.csv")

In [205]:
select(Match,league_id,match_api_id,home_player_1)

Source:   query [?? x 3]
Database: sqlite 3.11.1 [database.sqlite]

   league_id match_api_id home_player_1
       <int>        <int>         <int>
1          1       492473            NA
2          1       492474            NA
3          1       492475            NA
4          1       492476            NA
5          1       492477            NA
6          1       492478            NA
7          1       492479            NA
8          1       492480            NA
9          1       492481            NA
10         1       492564            NA
# ... with more rows

In [208]:
Match_temp<-stack(Match,select=(home_player_1, home_player_2 ,
  home_player_3 , home_player_4 , home_player_5 ,
   home_player_6 , home_player_7 , home_player_8 ,
   home_player_9 , home_player_10 , home_player_11,
   away_player_1 , away_player_2 , away_player_3 ,
   away_player_4 , away_player_5 , away_player_6 ,
   away_player_7 , away_player_8 , away_player_9 ,
  away_player_10 , away_player_11 ))

ERROR: Error in parse(text = x, srcfile = src): <text>:1:46: unexpected ','
1: Match_temp<-stack(Match,select=(home_player_1,
                                                 ^

In [269]:
Match_temp<-select(Match, home_player_1, home_player_2 ,
  home_player_3 , home_player_4 , home_player_5 ,
   home_player_6 , home_player_7 , home_player_8 ,
   home_player_9 , home_player_10 , home_player_11,
   away_player_1 , away_player_2 , away_player_3 ,
   away_player_4 , away_player_5 , away_player_6 ,
   away_player_7 , away_player_8 , away_player_9 ,
  away_player_10 , away_player_11)

In [214]:
Match_temp<-collect(Match_temp)

In [216]:
Player_stack<-stack(Match_temp)

In [219]:
head(Player_stack)

  player_api_id ind
1 NA            home_player_1
2 NA            home_player_1
3 NA            home_player_1
4 NA            home_player_1
5 NA            home_player_1
6 NA            home_player_1

In [218]:
names(Player_stack)<-c("player_api_id","ind")

In [220]:
by_player_id <- group_by(Player_stack, player_api_id )
stack_group <- summarise(by_player_id,
  appear = n()
)

In [225]:
head(stack_group)

  player_api_id appear
1 2625          90
2 2752          81
3 2768          71
4 2770          16
5 2790          50
6 2796           1

In [230]:
Player_test5<-Player_test4 %>% left_join(stack_group, by = "player_api_id")

In [229]:
Player_test4<-data.frame(Player_test4)

In [231]:
head(Player_test5)

  player_api_id overall_rate gk_rate id   player_name       player_fifa_api_id
1 2625          63           153     8372 Patryk Rachwal,18 148544
2 2752          72            53     2639 Diego Mainz       135819
3 2768          75           128     5319 Jose Dorado       110019
4 2770          74           148     4339 Ignacio Gonzalez  182861
5 2790          73           144      306 Alberto Rey       110809
6 2796          69           340     4734 Javier Jimenez    198735
  appear
1 90
2 81
3 71
4 16
5 50
6  1

In [243]:
a_1<-select(Match, league_id, away_player_1 )
a_2<-select(Match, league_id, away_player_2 )
a_3<-select(Match, league_id, away_player_3 )
a_4<-select(Match, league_id, away_player_4 )
a_5<-select(Match, league_id, away_player_5 )
a_6<-select(Match, league_id, away_player_6 )
a_7<-select(Match, league_id, away_player_7 )
a_8<-select(Match, league_id, away_player_8 )
a_9<-select(Match, league_id, away_player_9 )
a_10<-select(Match, league_id, away_player_10 )
a_11<-select(Match, league_id, away_player_11 )

In [312]:
a<-rbind(a_1,a_2,a_3,a_4,a_5,a_6,a_7,a_8,a_9,a_10,a_11)

In [270]:
Match_temp1<-select(Match, league_id, home_player_1, home_player_2 ,
  home_player_3 , home_player_4 , home_player_5 ,
   home_player_6 , home_player_7 , home_player_8 ,
   home_player_9 , home_player_10 , home_player_11,
   away_player_1 , away_player_2 , away_player_3 ,
   away_player_4 , away_player_5 , away_player_6 ,
   away_player_7 , away_player_8 , away_player_9 ,
  away_player_10 , away_player_11)

In [284]:
temp<-  left_join(Player, Match_temp1, by= c('player_api_id' = 'home_player_1','player_api_id'='home_player_2'))

In [295]:
a_1<-collect(a_1)
a_2<-collect(a_2)
a_3<-collect(a_3)
a_4<-collect(a_4)
a_5<-collect(a_5)
a_6<-collect(a_6)
a_7<-collect(a_7)
a_8<-collect(a_8)
a_9<-collect(a_9)
a_10<-collect(a_10)
a_11<-collect(a_11)
h_1<-collect(h_1)
h_2<-collect(h_2)
h_3<-collect(h_3)
h_4<-collect(h_4)
h_5<-collect(h_5)
h_6<-collect(h_6)
h_7<-collect(h_7)
h_8<-collect(h_8)
h_9<-collect(h_9)
h_10<-collect(h_10)
h_11<-collect(h_11)

In [309]:
names(h_1)<-c("league_id","player_api_id")
names(h_2)<-c("league_id","player_api_id")
names(h_3)<-c("league_id","player_api_id")
names(h_4)<-c("league_id","player_api_id")
names(h_5)<-c("league_id","player_api_id")
names(h_6)<-c("league_id","player_api_id")
names(h_7)<-c("league_id","player_api_id")
names(h_8)<-c("league_id","player_api_id")
names(h_9)<-c("league_id","player_api_id")
names(h_10)<-c("league_id","player_api_id")
names(h_11)<-c("league_id","player_api_id")

In [292]:
h_1<-select(Match, league_id, home_player_1 )

In [313]:
temp<-rbind(h,a)

In [314]:
head(temp)

  league_id player_api_id
1 1         NA
2 1         NA
3 1         NA
4 1         NA
5 1         NA
6 1         NA

In [316]:
write.csv(Player_test5,"Player_test5.csv")

In [317]:
temp2<-unique(temp)

In [318]:
by_league <- group_by(temp2, player_api_id)
league_1 <- summarise(by_league,
  league = n()
)

In [319]:
head(league_1)

  player_api_id league
1 2625          1
2 2752          1
3 2768          1
4 2770          2
5 2790          1
6 2796          1

In [321]:
Player_test6<-Player_test5 %>% left_join(league_1, by = "player_api_id")

In [322]:
head(Player_test6)

  player_api_id overall_rate gk_rate id   player_name       player_fifa_api_id
1 2625          63           153     8372 Patryk Rachwal,18 148544
2 2752          72            53     2639 Diego Mainz       135819
3 2768          75           128     5319 Jose Dorado       110019
4 2770          74           148     4339 Ignacio Gonzalez  182861
5 2790          73           144      306 Alberto Rey       110809
6 2796          69           340     4734 Javier Jimenez    198735
  appear league
1 90     1
2 81     1
3 71     1
4 16     2
5 50     1
6  1     1

In [323]:
write.csv(Player_test6,file="Players.csv")

In [324]:
Player_test7<-select(Player_test6,player_api_id,overall_rate,gk_rate,player_name,appear,league)

In [326]:
write.csv(Player_test7,file="Players_1.csv")

In [329]:
t1<-select(Match,home_team_api_id,home_team_goal)
t2<-select(Match,away_team_api_id,away_team_goal)
t1<-collect(t1)
t2<-collect(t2)
names(t1)<-c("team_api_id","no_goal")
names(t2)<-c("team_api_id","no_goal")
goal<-rbind(t1,t2)

In [330]:
by_goals <- group_by(goal, team_api_id)
goal_temp <- summarise(by_goals,
  goal = sum(no_goal)
)

In [331]:
head(goal_temp)

  team_api_id goal
1 1601        280
2 1773        126
3 1957        287
4 2033        138
5 2182        372
6 2183        184

In [332]:
head(team_test4)

Source:   query [?? x 8]
Database: sqlite 3.11.1 [database.sqlite]

     id team_api_id team_fifa_api_id    team_long_name team_short_name
  <int>       <int>            <int>             <chr>           <chr>
1     1        9987              673          KRC Genk             GEN
2     2        9993              675      Beerschot AC             BAC
3     3       10000            15005  SV Zulte-Waregem             ZUL
4     4        9994             2007  Sporting Lokeren             LOK
5     5        9984             1750 KSV Cercle Brugge             CEB
6     6        8635              229    RSC Anderlecht             AND
# ... with 3 more variables: max_build <int>, max_chance <int>,
#   max_defence <int>

In [335]:
team_test5<-team_test4_df %>% left_join(goal_temp, by = "team_api_id")

In [334]:
team_test4_df<-collect(team_test4)

In [336]:
head(team_test5)

  id team_api_id team_fifa_api_id team_long_name    team_short_name max_build
1 1   9987         673            KRC Genk          GEN             148
2 2   9993         675            Beerschot AC      BAC              NA
3 3  10000       15005            SV Zulte-Waregem  ZUL             147
4 4   9994        2007            Sporting Lokeren  LOK             159
5 5   9984        1750            KSV Cercle Brugge CEB             145
6 6   8635         229            RSC Anderlecht    AND             149
  max_chance max_defence goal
1 182        205         348
2 185        210         174
3 153        200         306
4 154        200         279
5 200        195         213
6 182        190         427

In [337]:
write.csv(team_test5,file="Team.csv")