In [1]:
data<-read.csv("german_credit_data1.csv")

In [2]:
head(data)

  X. Age Sex    Job Housing Saving.accounts Checking.account Credit.amount
1 0  67  male   2   own     NA              little           1169
2 1  22  female 2   own     little          moderate         5951
3 2  49  male   1   own     little          NA               2096
4 3  45  male   2   free    little          little           7882
5 4  53  male   2   free    little          little           4870
6 5  35  male   1   free    NA              NA               9055
  Duration Purpose             Credit.Risks
1  6       radio/TV            1
2 48       radio/TV            2
3 12       education           1
4 42       furniture/equipment 1
5 24       car                 2
6 36       education           1

In [3]:
names(data)

 [1] "X."               "Age"              "Sex"              "Job"
 [5] "Housing"          "Saving.accounts"  "Checking.account" "Credit.amount"
 [9] "Duration"         "Purpose"          "Credit.Risks"

In [4]:
data$Sex<-as.numeric(data$Sex)
data$Housing<-as.numeric(data$Housing)
data$Purpose<-as.numeric(data$Purpose)

In [5]:
n.points <- 1000 
sampling.rate <- 0.8
num.test.set.labels <- n.points * (1 - sampling.rate)

In [6]:
#library(Hmisc)
#impute(data, mean) 
#library(DMwR)
#data<-knnImputation(data, 5)

In [7]:
training <- sample(1:n.points, sampling.rate * n.points,
replace=FALSE)

In [8]:
train<-subset(data[training, ], select = c(Age,Sex,Housing,Purpose,Job,Credit.amount,Duration))

In [9]:
testing <- setdiff(1:n.points, training)

In [10]:
test<-subset(data[testing, ], select = c(Age,Sex,Housing,Purpose,Job,Credit.amount,Duration))

In [11]:
dim(train)

[1] 800   7

In [12]:
dim(test)

[1] 200   7

In [13]:
cl <- data$Credit.Risks[training]

In [14]:
true.labels <- data$Credit.Risks[testing]

In [15]:
#install.packages("DMwR",repos="https://cran.r-project.org/")

In [16]:
for_80_20<-rep(NA,20)
for_70_30<-rep(NA,20)
for_85_15<-rep(NA,20)

<p> Training the data sample selected randomly for 80% of the data, and predicting it for different values of k, also calculatting the misclassification rate for every value of k

In [17]:
library('class')
for (k in 1:20) {
print(k)
predicted.labels <- knn(train,test,cl, k)
num.incorrect.labels <- sum(predicted.labels != true.labels)
misclassification.rate <- num.incorrect.labels /
num.test.set.labels
misclassification.rate<-misclassification.rate*100
for_80_20[k]<-(misclassification.rate)
print(misclassification.rate)

}

Warning message:
"package 'class' was built under R version 3.3.3"

[1] 1
[1] 37.5
[1] 2
[1] 34.5
[1] 3
[1] 36.5
[1] 4
[1] 35.5
[1] 5
[1] 32
[1] 6
[1] 33.5
[1] 7
[1] 31.5
[1] 8
[1] 33.5
[1] 9
[1] 30
[1] 10
[1] 30.5
[1] 11
[1] 31.5
[1] 12
[1] 31
[1] 13
[1] 30.5
[1] 14
[1] 33
[1] 15
[1] 33
[1] 16
[1] 32.5
[1] 17
[1] 33.5
[1] 18
[1] 32
[1] 19
[1] 31.5
[1] 20
[1] 32.5

<p> Selecting a traing data set of 70% of the data and classifying the rest 30% based on this data. Also calculating the misclassification rate for 20 different values of k

In [18]:
sampling.rate <- 0.7
num.test.set.labels <- n.points * (1 - sampling.rate)
training <- sample(1:n.points, sampling.rate * n.points,
replace=FALSE)
train<-subset(data[training, ], select = c(Age,Sex,Housing,Purpose,Job,Credit.amount,Duration))
testing <- setdiff(1:n.points, training)
test<-subset(data[testing, ], select = c(Age,Sex,Housing,Purpose,Job,Credit.amount,Duration))
cl <- data$Credit.Risks[training]
true.labels <- data$Credit.Risks[testing]
#library('class')
for (k in 1:20) {
print(k)
predicted.labels <- knn(train,test,cl, k)
num.incorrect.labels <- sum(predicted.labels != true.labels)
misclassification.rate <- num.incorrect.labels /
num.test.set.labels
misclassification.rate<-misclassification.rate*100
for_70_30[k]<-(misclassification.rate)
print(misclassification.rate)
}

[1] 1
[1] 41
[1] 2
[1] 38.66667
[1] 3
[1] 34
[1] 4
[1] 36
[1] 5
[1] 34
[1] 6
[1] 34.66667
[1] 7
[1] 32.66667
[1] 8
[1] 34.66667
[1] 9
[1] 32
[1] 10
[1] 31.33333
[1] 11
[1] 30.66667
[1] 12
[1] 31.66667
[1] 13
[1] 31.33333
[1] 14
[1] 33
[1] 15
[1] 30.66667
[1] 16
[1] 30
[1] 17
[1] 31
[1] 18
[1] 30.66667
[1] 19
[1] 30
[1] 20
[1] 29.66667

<p> Tranining dataset contains of over 85% of the data and classifying on the class label. The misclassification rate has been calculated

In [19]:
sampling.rate <- 0.85
num.test.set.labels <- n.points * (1 - sampling.rate)
training <- sample(1:n.points, sampling.rate * n.points,
replace=FALSE)
train<-subset(data[training, ], select = c(Age,Sex,Housing,Purpose,Job,Credit.amount,Duration))
testing <- setdiff(1:n.points, training)
test<-subset(data[testing, ], select = c(Age,Sex,Housing,Purpose,Job,Credit.amount,Duration))
cl <- data$Credit.Risks[training]
true.labels <- data$Credit.Risks[testing]
#library('class')
for (k in 1:20) {
print(k)
predicted.labels <- knn(train,test,cl, k)
num.incorrect.labels <- sum(predicted.labels != true.labels)
misclassification.rate <- num.incorrect.labels /
num.test.set.labels
misclassification.rate<-misclassification.rate*100
for_85_15[k]<-(misclassification.rate)
print(misclassification.rate)
}

[1] 1
[1] 38
[1] 2
[1] 41.33333
[1] 3
[1] 33.33333
[1] 4
[1] 30.66667
[1] 5
[1] 32
[1] 6
[1] 32
[1] 7
[1] 32.66667
[1] 8
[1] 30
[1] 9
[1] 30
[1] 10
[1] 32
[1] 11
[1] 30.66667
[1] 12
[1] 34
[1] 13
[1] 26.66667
[1] 14
[1] 32
[1] 15
[1] 28
[1] 16
[1] 29.33333
[1] 17
[1] 28
[1] 18
[1] 29.33333
[1] 19
[1] 29.33333
[1] 20
[1] 28.66667

<p> All the misclassification values for different train-test ratios have been found and collected in a table below. Depending on the lowest misclassificaton rate the value of k must be selected

In [20]:
k<-c(1:20)
table<-data.frame(k,for_80_20,for_70_30,for_85_15)
table

   k  for_80_20 for_70_30 for_85_15
1   1 37.5      41.00000  38.00000
2   2 34.5      38.66667  41.33333
3   3 36.5      34.00000  33.33333
4   4 35.5      36.00000  30.66667
5   5 32.0      34.00000  32.00000
6   6 33.5      34.66667  32.00000
7   7 31.5      32.66667  32.66667
8   8 33.5      34.66667  30.00000
9   9 30.0      32.00000  30.00000
10 10 30.5      31.33333  32.00000
11 11 31.5      30.66667  30.66667
12 12 31.0      31.66667  34.00000
13 13 30.5      31.33333  26.66667
14 14 33.0      33.00000  32.00000
15 15 33.0      30.66667  28.00000
16 16 32.5      30.00000  29.33333
17 17 33.5      31.00000  28.00000
18 18 32.0      30.66667  29.33333
19 19 31.5      30.00000  29.33333
20 20 32.5      29.66667  28.66667

<p> The credit_risk was calculated for every test case and checked against the true label to calculate the misclassification rate, so that we can select the optimal value for k and the train- test ratio.